#note {
    border: none;
}

.note-entry {
    margin-top: 15px !important;
}

.note-entry .media-heading {
    font-weight: 200 !important;
    font-size: 18px !important;
}

.btn-notes {
    margin-top: 15px;
    margin-bottom: 10px;
}

.note-editor {
    position: relative;
    display: inline-block;
}

.note-editor .note-editor-color {
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    border: 2px solid #fff;
}

#note_content {
    position: relative;
}

#note_content #view-mode {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
